body {
    font-family: sans-serif;
}

header {
    background-color: red;
    color: white;
    text-align: center;
}

h2 {
    background-color: lightcoral;
}

footer {
    background-color: darkred;
    color: white;
}
